  .div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 7385px;
  position: relative;
  overflow: hidden;
}
.group-36479 {
  position: absolute;
  inset: 0;
}
.tenth-section {
  width: 1920px;
  height: 1160px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5635px;
  overflow: hidden;
}
.artboard-1-100-1 {
  width: 1920px;
  height: 1517px;
  position: absolute;
  left: 0px;
  top: -179px;
  object-fit: cover;
}
.image {
  border-radius: 50%;
  width: 525px;
  height: 525px;
  position: absolute;
  left: 698px;
  top: 317px;
  object-fit: cover;
}
.group-36476 {
  position: absolute;
  inset: 0;
}
.fourth-section {
  width: 1920px;
  height: 522.27px;
  position: static;
}
.background {
  width: 1920px;
  height: 522.27px;
  position: static;
}
.rectangle-1 {
  background: #f5ead3;
  width: 1920px;
  height: 522.27px;
  position: absolute;
  left: 0px;
  top: 2981px;
}
.text {
  width: 1319px;
  height: 296px;
  position: static;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 786px;
  top: 3025px;
  width: 333px;
  height: 43.36px;
}
.farm {
  color: #202020;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 153.3%;
  font-weight: 400;
  position: absolute;
  left: 290px;
  top: 3096px;
  width: 1319px;
  height: 225px;
}
.group-36478 {
  position: absolute;
  inset: 0;
}
.group-36477 {
  width: 1920px;
  height: 1257px;
  position: static;
}
.third-section {
  background: #91774a;
  width: 1920px;
  height: 1257px;
  position: absolute;
  left: 0px;
  top: 1724px;
  overflow: hidden;
}
.rectangle-39850 {
  background: #ffffff;
  width: 742px;
  height: 1046px;
  position: absolute;
  left: 581px;
  top: 108px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 600px;
  width: 229px;
  height: 37px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 394px;
  width: 229px;
  height: 37px;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 394px;
  width: 229px;
  height: 37px;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 497px;
  width: 229px;
  height: 37px;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 600px;
  width: 229px;
  height: 37px;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 702px;
  width: 228px;
  height: 37px;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 806px;
  width: 228px;
  height: 37px;
}
.triple-cr-me {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 963px;
  top: 909px;
  width: 228px;
  height: 37px;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 497px;
  width: 229px;
  height: 37px;
}
.div11 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 703px;
  width: 229px;
  height: 37px;
}
.viejo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 807px;
  width: 229px;
  height: 37px;
}
.div12 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 909px;
  width: 229px;
  height: 37px;
}
.div13 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 838px;
  width: 200px;
  height: 50px;
}
.div14 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 969px;
  top: 525px;
  width: 200px;
  height: 50px;
}
.div15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 969px;
  top: 422px;
  width: 200px;
  height: 50px;
}
.div16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 969px;
  top: 631px;
  width: 200px;
  height: 50px;
}
.div17 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 970px;
  top: 838px;
  width: 200px;
  height: 50px;
}
.div18 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 970px;
  top: 737px;
  width: 200px;
  height: 50px;
}
.div19 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 971px;
  top: 939px;
  width: 200px;
  height: 50px;
}
.div20 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 939px;
  width: 200px;
  height: 50px;
}
.div21 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 422px;
  width: 200px;
  height: 50px;
}
.div22 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 737px;
  width: 200px;
  height: 50px;
}
.div23 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 631px;
  width: 200px;
  height: 50px;
}
.div24 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 617px;
  top: 525px;
  width: 200px;
  height: 50px;
}
._900 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 396px;
  width: 107px;
  height: 42px;
}
._900-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._900-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._9002 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 396px;
  width: 107px;
  height: 42px;
}
._9002-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._9002-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1600 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 498px;
  width: 107px;
  height: 42px;
}
._1600-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1600-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1000 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 603px;
  width: 107px;
  height: 42px;
}
._1000-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1000-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1200 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 704px;
  width: 107px;
  height: 42px;
}
._1200-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1200-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1059 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 809px;
  width: 107px;
  height: 42px;
}
._1059-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1059-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1359 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 1204px;
  top: 914px;
  width: 107px;
  height: 42px;
}
._1359-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1359-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1100 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 499px;
  width: 107px;
  height: 42px;
}
._1100-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1100-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1509 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 601px;
  width: 107px;
  height: 42px;
}
._1509-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1509-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1400 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 704px;
  width: 107px;
  height: 42px;
}
._1400-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1400-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._1500 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 807px;
  width: 107px;
  height: 42px;
}
._1500-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._1500-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
._12002 {
  color: #929292;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 911px;
  width: 107px;
  height: 42px;
}
._12002-span {
  color: #929292;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
._12002-span2 {
  color: #929292;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.vector {
  width: 4.43%;
  height: 10.84%;
  position: absolute;
  right: 56.46%;
  left: 39.11%;
  bottom: 76.21%;
  top: 12.94%;
  overflow: visible;
}
.vector2 {
  width: 5%;
  height: 10.84%;
  position: absolute;
  right: 52.08%;
  left: 42.92%;
  bottom: 76.21%;
  top: 12.94%;
  overflow: visible;
}
.vector3 {
  width: 5.31%;
  height: 10.84%;
  position: absolute;
  right: 46.67%;
  left: 48.02%;
  bottom: 76.21%;
  top: 12.94%;
  overflow: visible;
}
.vector4 {
  width: 6.15%;
  height: 10.84%;
  position: absolute;
  right: 40.42%;
  left: 53.44%;
  bottom: 76.21%;
  top: 12.94%;
  overflow: visible;
}
.second-section {
  position: absolute;
  inset: 0;
}
.background2 {
  width: 1920px;
  height: 604px;
  position: static;
}
.rectangle-12 {
  background: #f5ead3;
  width: 1920px;
  height: 604px;
  position: absolute;
  left: 0px;
  top: 1120px;
}
.group-36474 {
  position: absolute;
  inset: 0;
}
.sixth-section {
  background: #91774a;
  width: 1920px;
  height: 1235px;
  position: absolute;
  left: 0px;
  top: 4400px;
  overflow: hidden;
}
.rectangle-39851 {
  background: #ffffff;
  width: 758px;
  height: 520.64px;
  position: absolute;
  left: 529px;
  top: 5063px;
}
.first-section {
  width: 1920px;
  height: 1120px;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: hidden;
}
.pexels-karolina-grabowska-6660052-1 {
  width: 1920px;
  height: 1772px;
  position: absolute;
  left: 0px;
  top: -652px;
  object-fit: cover;
}
.asset-2-1 {
  width: 1343px;
  height: 552px;
  position: absolute;
  left: 289px;
  top: 364px;
  overflow: visible;
}
.rectangle-39853 {
  background: rgba(255, 255, 255, 0.77);
  width: 1919px;
  height: 172px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.cart {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1440px;
  top: 62px;
  overflow: visible;
  cursor: pointer;
}
.farm2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 153.3%;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 1131px;
  width: 1188px;
  height: 244px;
}
.brand-identity-farm-cheese-brand-2024 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 1564px;
}
.vector5 {
  width: 2.19%;
  height: 0.84%;
  position: absolute;
  right: 55.47%;
  left: 42.34%;
  bottom: 25.13%;
  top: 74.03%;
  overflow: visible;
}
.vector6 {
  width: 2.4%;
  height: 0.84%;
  position: absolute;
  right: 53.39%;
  left: 44.22%;
  bottom: 25.13%;
  top: 74.03%;
  overflow: visible;
}
.vector7 {
  width: 2.6%;
  height: 0.84%;
  position: absolute;
  right: 50.73%;
  left: 46.67%;
  bottom: 25.13%;
  top: 74.03%;
  overflow: visible;
}
.group-36483 {
  position: absolute;
  inset: 0;
}
.group-364782 {
  width: 133px;
  height: 37px;
  position: static;
}
._200 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 2817px;
  width: 133px;
  height: 37px;
}
.rectangle-39852 {
  background: #ffffff;
  width: 758px;
  height: 516px;
  position: absolute;
  left: 533px;
  top: 4473px;
}
.div25 {
  color: #000000;
  text-align: center;
  font-family: "VinaSans-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: 694px;
  top: 5221px;
  width: 435px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div26 {
  color: #000000;
  text-align: center;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 700px;
  top: 5088px;
  width: 422px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-352 {
  width: 716px;
  height: 472px;
  position: absolute;
  left: 553px;
  top: 4495px;
  object-fit: cover;
}
.image2 {
  border-radius: 50%;
  width: 138px;
  height: 138px;
  position: absolute;
  left: 69px;
  top: 23px;
  object-fit: cover;
}
.vector8 {
  width: 2.97%;
  height: 0.84%;
  position: absolute;
  right: 47.71%;
  left: 49.32%;
  bottom: 25.13%;
  top: 74.03%;
  overflow: visible;
}
.fifth-section {
  position: absolute;
  inset: 0;
}
.color-palette {
  width: 1920px;
  height: 910px;
  position: static;
}
.white {
  width: 480px;
  height: 910px;
  position: static;
}
.vector9 {
  width: 25%;
  height: 8.13%;
  position: absolute;
  right: 75%;
  left: 0%;
  bottom: 44.61%;
  top: 47.26%;
  overflow: visible;
}
.vector10 {
  opacity: 0.8;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 75%;
  left: 0%;
  bottom: 43.21%;
  top: 55.39%;
  overflow: visible;
}
.vector11 {
  opacity: 0.5;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 75%;
  left: 0%;
  bottom: 41.82%;
  top: 56.79%;
  overflow: visible;
}
.vector12 {
  opacity: 0.3;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 75%;
  left: 0%;
  bottom: 40.42%;
  top: 58.18%;
  overflow: visible;
}
.color {
  width: 188.16px;
  height: 195.24px;
  position: static;
}
.div27 {
  color: #262626;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 35px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 55.2px;
  top: 3550.59px;
  width: 123.59px;
  height: 54.98px;
}
.color-code {
  width: 188.16px;
  height: 79.67px;
  position: static;
}
.hex-ffffff {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 3722.27px;
  width: 185.76px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hex-ffffff-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.hex-ffffff-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.rgb-255-255-255 {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 3694.22px;
  width: 188.16px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rgb-255-255-255-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.rgb-255-255-255-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.cmyk-0-0-0-0 {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 3666.17px;
  width: 185.76px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cmyk-0-0-0-0-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.cmyk-0-0-0-0-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.div28 {
  color: #262626;
  text-align: left;
  font-family: "TimesNewRoman-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 4037.57px;
  width: 184.56px;
  height: 19.08px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.opacity {
  width: 41.95px;
  height: 228.9px;
  position: static;
}
._80 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 4130.7px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._50 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 4233.93px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._30 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 55.13px;
  top: 4337.16px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.autumn-spice {
  width: 480px;
  height: 910px;
  position: static;
}
.vector13 {
  width: 25%;
  height: 8.13%;
  position: absolute;
  right: 50%;
  left: 25%;
  bottom: 44.61%;
  top: 47.26%;
  overflow: visible;
}
.vector14 {
  opacity: 0.8;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 50%;
  left: 25%;
  bottom: 43.21%;
  top: 55.39%;
  overflow: visible;
}
.vector15 {
  opacity: 0.5;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 50%;
  left: 25%;
  bottom: 41.82%;
  top: 56.79%;
  overflow: visible;
}
.vector16 {
  opacity: 0.3;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 50%;
  left: 25%;
  bottom: 40.42%;
  top: 58.18%;
  overflow: visible;
}
.div29 {
  color: #ffffff;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 35px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 534px;
  top: 3551px;
  width: 254px;
  height: 55px;
}
.color-code2 {
  width: 188.69px;
  height: 79.67px;
  position: static;
}
.hex-91774-a {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 533.97px;
  top: 3722.27px;
  width: 188.39px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hex-91774-a-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.hex-91774-a-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.rgb-145-119-74 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 534.51px;
  top: 3694.22px;
  width: 188.16px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rgb-145-119-74-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.rgb-145-119-74-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.cmyk-33-44-69-21 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 533.97px;
  top: 3666.17px;
  width: 188.39px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cmyk-33-44-69-21-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.cmyk-33-44-69-21-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.div30 {
  color: #ffffff;
  text-align: left;
  font-family: "TimesNewRoman-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 535px;
  top: 4038px;
  width: 194px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._802 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 534.51px;
  top: 4130.7px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._502 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 534.51px;
  top: 4233.93px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._302 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 534.51px;
  top: 4337.16px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.creamy-linen {
  width: 480px;
  height: 910px;
  position: static;
}
.vector17 {
  width: 25%;
  height: 8.13%;
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 44.61%;
  top: 47.26%;
  overflow: visible;
}
.vector18 {
  opacity: 0.8;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 43.21%;
  top: 55.39%;
  overflow: visible;
}
.vector19 {
  opacity: 0.5;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 41.82%;
  top: 56.79%;
  overflow: visible;
}
.vector20 {
  opacity: 0.3;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 0%;
  left: 75%;
  bottom: 40.42%;
  top: 58.18%;
  overflow: visible;
}
.div31 {
  color: #262626;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 35px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1495.12px;
  top: 3550.59px;
  width: 304.78px;
  height: 54.98px;
}
.color-code3 {
  width: 201.59px;
  height: 79.67px;
  position: static;
}
.hex-f-5-ead-3 {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1495.12px;
  top: 3722.27px;
  width: 201.59px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hex-f-5-ead-3-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.hex-f-5-ead-3-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.rgb-245-234-211 {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1495.12px;
  top: 3694.22px;
  width: 200.39px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rgb-245-234-211-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.rgb-245-234-211-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.cmyk-4-8-20-2 {
  color: #262626;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1495.12px;
  top: 3666.17px;
  width: 200.39px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cmyk-4-8-20-2-span {
  color: #262626;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.cmyk-4-8-20-2-span2 {
  color: #262626;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.div32 {
  color: #262626;
  text-align: left;
  font-family: "TimesNewRoman-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1495px;
  top: 4038px;
  width: 169px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._803 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1494.69px;
  top: 4130.7px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._503 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1494.69px;
  top: 4233.93px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._303 {
  color: #262626;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1494.69px;
  top: 4337.16px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.midnight-charcoal {
  width: 480px;
  height: 910px;
  position: static;
}
.vector21 {
  width: 25%;
  height: 8.13%;
  position: absolute;
  right: 25%;
  left: 50%;
  bottom: 44.61%;
  top: 47.26%;
  overflow: visible;
}
.vector22 {
  opacity: 0.8;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 25%;
  left: 50%;
  bottom: 43.21%;
  top: 55.39%;
  overflow: visible;
}
.vector23 {
  opacity: 0.5;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 25%;
  left: 50%;
  bottom: 41.82%;
  top: 56.79%;
  overflow: visible;
}
.vector24 {
  opacity: 0.3;
  width: 25%;
  height: 1.4%;
  position: absolute;
  right: 25%;
  left: 50%;
  bottom: 40.42%;
  top: 58.18%;
  overflow: visible;
}
.div33 {
  color: #ffffff;
  text-align: left;
  font-family: "TimesNewRoman-Regular", sans-serif;
  font-size: 35px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1016.35px;
  top: 3550.59px;
  width: 341.98px;
  height: 54.98px;
}
.color-code4 {
  width: 191.39px;
  height: 79.67px;
  position: static;
}
.hex-0-e-0-e-0-e {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1016.35px;
  top: 3722.27px;
  width: 190.79px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hex-0-e-0-e-0-e-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.hex-0-e-0-e-0-e-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.rgb-14-14-14 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1016.35px;
  top: 3694.22px;
  width: 190.79px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rgb-14-14-14-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.rgb-14-14-14-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.cmyk-0-0-0-93 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 1015.75px;
  top: 3666.17px;
  width: 185.76px;
  height: 23.56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cmyk-0-0-0-93-span {
  color: #ffffff;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.cmyk-0-0-0-93-span2 {
  color: #ffffff;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.div34 {
  color: #ffffff;
  text-align: left;
  font-family: "TimesNewRoman-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1029px;
  top: 4038px;
  width: 214px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._804 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1015.75px;
  top: 4130.7px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._504 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1015.75px;
  top: 4233.93px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._304 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 1015.75px;
  top: 4337.16px;
  width: 41.95px;
  height: 22.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div35 {
  width: 100%;
  height: 590px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 6795px;
}
.rectangle {
  background: #f5ead3;
  width: 100%;
  height: 590px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.frame {
  width: 63.54%;
  height: 533.94px;
  position: absolute;
  right: 18.23%;
  left: 18.23%;
  top: 80.75px;
}
.frame2 {
  width: 48.36%;
  height: 533.94px;
  position: absolute;
  right: 50.82%;
  left: 0.82%;
  top: 0px;
}
.frame3 {
  width: 83.39%;
  height: 24.75px;
  position: absolute;
  right: 16.61%;
  left: 0%;
  bottom: 0px;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 26.44%;
  left: 33.05%;
  width: 40.51%;
  top: 267.25px;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru-span {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  text-decoration: underline;
}
.frame4 {
  width: 49.18%;
  height: 509px;
  position: absolute;
  right: 10.08%;
  left: 40.74%;
  top: 0.25px;
}
.frame5 {
  width: 75%;
  height: 533.94px;
  position: absolute;
  right: 25%;
  left: 0%;
  top: 0px;
}
.div36 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 23.94px;
  font-weight: 400;
  position: absolute;
  right: 41.78%;
  left: 1.11%;
  width: 57.11%;
  top: -1px;
}
.frame6 {
  width: 97.78%;
  height: 450px;
  position: absolute;
  right: 1.11%;
  left: 1.11%;
  top: 43.94px;
}
.frame7 {
  width: 100%;
  height: 417px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 33px;
}
.div37 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 87.95%;
  left: 0%;
  width: 12.05%;
  top: 1.31px;
}
.div38 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 90.23%;
  left: 0%;
  width: 9.77%;
  top: 90.31px;
}
.div39 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 81.14%;
  left: 0%;
  width: 18.86%;
  top: 159.31px;
}
.div40 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 85.45%;
  left: 0%;
  width: 14.55%;
  top: 229.31px;
}
.div41 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 77.73%;
  left: 0%;
  width: 22.27%;
  top: 298.31px;
}
.div42 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 76.59%;
  left: 0%;
  width: 23.41%;
  top: 368.31px;
}
.div43 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 63.41%;
  left: 25.68%;
  width: 10.91%;
  top: 5.06px;
}
.div44 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.64%;
  left: 25.68%;
  width: 15.68%;
  top: 74.06px;
}
.div45 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 55.45%;
  left: 25.68%;
  width: 18.86%;
  top: 144.06px;
}
.div46 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 64.32%;
  left: 25.68%;
  width: 10%;
  top: 213.06px;
}
.div47 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 57.5%;
  left: 25.68%;
  width: 16.82%;
  top: 283.06px;
}
.div48 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 65.23%;
  left: 25.68%;
  width: 9.09%;
  top: 352.06px;
}
.div49 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 27.73%;
  left: 51.14%;
  width: 21.14%;
  top: 24.06px;
}
.div50 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 30%;
  left: 51.14%;
  width: 18.86%;
  top: 93.06px;
}
.div51 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35%;
  left: 51.14%;
  width: 13.86%;
  top: 162.06px;
}
.div52 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 29.09%;
  left: 51.14%;
  width: 19.77%;
  top: 251.06px;
}
.div53 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 40.91%;
  left: 51.14%;
  width: 7.95%;
  top: 340.06px;
}
.div54 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 12.5%;
  left: 76.82%;
  width: 10.68%;
  top: 5.06px;
}
.div55 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 10.91%;
  left: 76.82%;
  width: 12.27%;
  top: 74.06px;
}
.div56 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.82%;
  left: 76.82%;
  width: 16.36%;
  top: 144.06px;
}
.div57 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.14%;
  left: 76.82%;
  width: 17.05%;
  top: 213.06px;
}
.div58 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 12.05%;
  left: 76.82%;
  width: 11.14%;
  top: 283.06px;
}
.div59 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 83.41%;
  left: 0%;
  width: 16.59%;
  top: 35.31px;
}
.div60 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 79.55%;
  left: 0%;
  width: 20.45%;
  top: 194.31px;
}
.div61 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 83.41%;
  left: 0%;
  width: 16.59%;
  top: 333.31px;
}
.div62 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.86%;
  left: 25.68%;
  width: 15.45%;
  top: 40.06px;
}
.div63 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.86%;
  left: 25.68%;
  width: 15.45%;
  top: 179.06px;
}
.div64 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 61.14%;
  left: 25.68%;
  width: 13.18%;
  top: 318.06px;
}
.div65 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 39.09%;
  left: 51.14%;
  width: 9.77%;
  top: 59.06px;
}
.div66 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35.68%;
  left: 51.14%;
  width: 13.18%;
  top: 217.06px;
}
.div67 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 8.86%;
  left: 76.82%;
  width: 14.32%;
  top: -29.94px;
}
.div68 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 14.55%;
  left: 76.82%;
  width: 8.64%;
  top: 109.06px;
}
.div69 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.36%;
  left: 76.82%;
  width: 16.82%;
  top: 248.06px;
}
.div70 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 82.95%;
  left: 0%;
  width: 17.05%;
  top: 124.31px;
}
.div71 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 54.09%;
  left: 25.68%;
  width: 20.23%;
  top: -29.94px;
}
.div72 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 60.91%;
  left: 25.68%;
  width: 13.41%;
  top: 248.06px;
}
.div73 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 31.14%;
  left: 51.14%;
  width: 17.73%;
  top: 128.06px;
}
.div74 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 16.36%;
  left: 76.82%;
  width: 6.82%;
  top: 40.06px;
}
.div75 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.14%;
  left: 76.82%;
  width: 17.05%;
  top: 318.06px;
}
.div76 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 82.73%;
  left: 0%;
  width: 17.27%;
  top: 263.31px;
}
.div77 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 34.32%;
  left: 51.14%;
  width: 14.55%;
  top: -29.94px;
}
.div78 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 17.27%;
  left: 76.82%;
  width: 5.91%;
  top: 179.06px;
}
.div79 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35.68%;
  left: 51.14%;
  width: 13.18%;
  top: 286.06px;
}
.div80 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 64.32%;
  left: 25.68%;
  width: 10%;
  top: 109.06px;
}
.div81 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 88.18%;
  left: 0%;
  width: 11.82%;
  top: 1.31px;
}
.frame8 {
  width: 10.21%;
  height: 266.97px;
  position: absolute;
  right: 60.78%;
  left: 29.01%;
  top: 80px;
}
.image3 {
  width: 55.1%;
  height: 32px;
  position: absolute;
  right: 44.9%;
  left: 0%;
  top: 0.25px;
  overflow: hidden;
}
.frame9 {
  width: 100%;
  height: 101.5px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 62px;
}
.frame10 {
  width: 100%;
  height: 45.75px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.div82 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 17.35%;
  left: 0%;
  width: 82.65%;
  top: -0.75px;
}
._8-800-200-00-48 {
  color: #7e7e7e;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 41.84%;
  left: 0%;
  width: 58.16%;
  top: 24.25px;
}
.frame11 {
  width: 100%;
  height: 45.75px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 55.75px;
}
.vector25 {
  width: 12.76%;
  height: 13.86%;
  position: absolute;
  right: 87.24%;
  left: 0%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector26 {
  width: 14.29%;
  height: 13.86%;
  position: absolute;
  right: 75%;
  left: 10.71%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector27 {
  width: 14.8%;
  height: 13.86%;
  position: absolute;
  right: 59.69%;
  left: 25.51%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector28 {
  width: 17.35%;
  height: 13.86%;
  position: absolute;
  right: 41.84%;
  left: 40.82%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.div83 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 58.54%;
  left: 29.01%;
  width: 12.45%;
  top: 317px;
}
.div84 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 58.54%;
  left: 29.01%;
  width: 12.45%;
  top: 115px;
}
.div85 {
  color: #91774a;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 548px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div85 li {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}

.div85 a {
  color: #91774a; 
  text-decoration: none; 
}

.div85 a:hover {
  color: #6f7429; 
}
.div86 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 742px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div86 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div86 a {
  color: #000000;
  text-decoration: none;
}

.div86 a:hover {
  color: #6f7429;
}
.div87 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 936px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div87 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div87 a {
  color: #000000;
  text-decoration: none;
}

.div87 a:hover {
  color: #6f7429;
}
.div88 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 57px;
  width: 241px;
  height: 39px;
}

.div88 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div88 a {
  color: #000000;
  text-decoration: none;
}

.div88 a:hover {
  color: #6f7429;
}