.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 4690px;
  position: relative;
  overflow: hidden;
}
.first-section {
  width: 1920px;
  height: 1120px;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: hidden;
}
.pexels-karolina-grabowska-6660052-1 {
  width: 1920px;
  height: 1772px;
  position: absolute;
  left: 0px;
  top: -652px;
  object-fit: cover;
}
.asset-2-1 {
  width: 1343px;
  height: 552px;
  position: absolute;
  left: 289px;
  top: 364px;
  overflow: visible;
}
.rectangle-39853 {
  background: rgba(255, 255, 255, 0.77);
  width: 1919px;
  height: 172px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.cart {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1462px;
  top: 62px;
  overflow: visible;
}
.group-36483 {
  position: absolute;
  inset: 0;
}
.rectangle-39852 {
  background: #ffffff;
  width: 758px;
  height: 516px;
  position: absolute;
  left: 533px;
  top: 4150px;
}
.image {
  border-radius: 50%;
  width: 138px;
  height: 138px;
  position: absolute;
  left: 69px;
  top: 23px;
  object-fit: cover;
}
.div2 {
  width: 100%;
  height: 590px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 6795px;
}
.rectangle {
  background: #f5ead3;
  width: 100%;
  height: 590px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 4100px;
}
.frame {
  width: 63.54%;
  height: 533.94px;
  position: absolute;
  right: 18.23%;
  left: 18.23%;
  top: 4929.75px;
}
.frame2 {
  width: 48.36%;
  height: 533.94px;
  position: absolute;
  right: 50.82%;
  left: 0.82%;
  top: 0px;
}
.frame3 {
  width: 83.39%;
  height: 24.75px;
  position: absolute;
  right: 16.61%;
  left: 0%;
  bottom: 0px;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 26.44%;
  left: 33.05%;
  width: 40.51%;
  top: -481.75px;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru-span {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
}
._7-495-123-45-67-farm-gmail-ru-www-farm-ru-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  text-decoration: underline;
}
.frame4 {
  width: 49.18%;
  height: 509px;
  position: absolute;
  right: 10.08%;
  left: 40.74%;
  top: -748.75px;
}
.frame5 {
  width: 75%;
  height: 533.94px;
  position: absolute;
  right: 25%;
  left: 0%;
  top: 0px;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 23.94px;
  font-weight: 400;
  position: absolute;
  right: 41.78%;
  left: 1.11%;
  width: 57.11%;
  top: -1px;
}
.frame6 {
  width: 97.78%;
  height: 450px;
  position: absolute;
  right: 1.11%;
  left: 1.11%;
  top: 43.94px;
}
.frame7 {
  width: 100%;
  height: 417px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 33px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 87.95%;
  left: 0%;
  width: 12.05%;
  top: 1.31px;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 90.23%;
  left: 0%;
  width: 9.77%;
  top: 90.31px;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 81.14%;
  left: 0%;
  width: 18.86%;
  top: 159.31px;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 85.45%;
  left: 0%;
  width: 14.55%;
  top: 229.31px;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 77.73%;
  left: 0%;
  width: 22.27%;
  top: 298.31px;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 76.59%;
  left: 0%;
  width: 23.41%;
  top: 368.31px;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 63.41%;
  left: 25.68%;
  width: 10.91%;
  top: 5.06px;
}
.div11 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.64%;
  left: 25.68%;
  width: 15.68%;
  top: 74.06px;
}
.div12 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 55.45%;
  left: 25.68%;
  width: 18.86%;
  top: 144.06px;
}
.div13 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 64.32%;
  left: 25.68%;
  width: 10%;
  top: 213.06px;
}
.div14 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 57.5%;
  left: 25.68%;
  width: 16.82%;
  top: 283.06px;
}
.div15 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 65.23%;
  left: 25.68%;
  width: 9.09%;
  top: 352.06px;
}
.div16 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 27.73%;
  left: 51.14%;
  width: 21.14%;
  top: 24.06px;
}
.div17 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 30%;
  left: 51.14%;
  width: 18.86%;
  top: 93.06px;
}
.div18 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35%;
  left: 51.14%;
  width: 13.86%;
  top: 162.06px;
}
.div19 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 29.09%;
  left: 51.14%;
  width: 19.77%;
  top: 251.06px;
}
.div20 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 40.91%;
  left: 51.14%;
  width: 7.95%;
  top: 340.06px;
}
.div21 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 12.5%;
  left: 76.82%;
  width: 10.68%;
  top: 5.06px;
}
.div22 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 10.91%;
  left: 76.82%;
  width: 12.27%;
  top: 74.06px;
}
.div23 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.82%;
  left: 76.82%;
  width: 16.36%;
  top: 144.06px;
}
.div24 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.14%;
  left: 76.82%;
  width: 17.05%;
  top: 213.06px;
}
.div25 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 12.05%;
  left: 76.82%;
  width: 11.14%;
  top: 283.06px;
}
.div26 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 83.41%;
  left: 0%;
  width: 16.59%;
  top: 35.31px;
}
.div27 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 79.55%;
  left: 0%;
  width: 20.45%;
  top: 194.31px;
}
.div28 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 83.41%;
  left: 0%;
  width: 16.59%;
  top: 333.31px;
}
.div29 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.86%;
  left: 25.68%;
  width: 15.45%;
  top: 40.06px;
}
.div30 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 58.86%;
  left: 25.68%;
  width: 15.45%;
  top: 179.06px;
}
.div31 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 61.14%;
  left: 25.68%;
  width: 13.18%;
  top: 318.06px;
}
.div32 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 39.09%;
  left: 51.14%;
  width: 9.77%;
  top: 59.06px;
}
.div33 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35.68%;
  left: 51.14%;
  width: 13.18%;
  top: 217.06px;
}
.div34 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 8.86%;
  left: 76.82%;
  width: 14.32%;
  top: -29.94px;
}
.div35 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 14.55%;
  left: 76.82%;
  width: 8.64%;
  top: 109.06px;
}
.div36 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.36%;
  left: 76.82%;
  width: 16.82%;
  top: 248.06px;
}
.div37 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 82.95%;
  left: 0%;
  width: 17.05%;
  top: 124.31px;
}
.div38 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 54.09%;
  left: 25.68%;
  width: 20.23%;
  top: -29.94px;
}
.div39 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 60.91%;
  left: 25.68%;
  width: 13.41%;
  top: 248.06px;
}
.div40 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 31.14%;
  left: 51.14%;
  width: 17.73%;
  top: 128.06px;
}
.div41 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 16.36%;
  left: 76.82%;
  width: 6.82%;
  top: 40.06px;
}
.div42 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 6.14%;
  left: 76.82%;
  width: 17.05%;
  top: 318.06px;
}
.div43 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 82.73%;
  left: 0%;
  width: 17.27%;
  top: 263.31px;
}
.div44 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 34.32%;
  left: 51.14%;
  width: 14.55%;
  top: -29.94px;
}
.div45 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 17.27%;
  left: 76.82%;
  width: 5.91%;
  top: 179.06px;
}
.div46 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 35.68%;
  left: 51.14%;
  width: 13.18%;
  top: 286.06px;
}
.div47 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 64.32%;
  left: 25.68%;
  width: 10%;
  top: 109.06px;
}
.div48 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 88.18%;
  left: 0%;
  width: 11.82%;
  top: 1.31px;
}
.frame8 {
  width: 10.21%;
  height: 266.97px;
  position: absolute;
  right: 60.78%;
  left: 29.01%;
  top: 4180px;
}
.image2 {
  width: 55.1%;
  height: 32px;
  position: absolute;
  right: 44.9%;
  left: 0%;
  top: 0.25px;
  overflow: hidden;
}
.frame9 {
  width: 100%;
  height: 101.5px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 62px;
}
.frame10 {
  width: 100%;
  height: 45.75px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
}
.div49 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 17.35%;
  left: 0%;
  width: 82.65%;
  top: -0.75px;
}
._8-800-200-00-48 {
  color: #7e7e7e;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  right: 41.84%;
  left: 0%;
  width: 58.16%;
  top: 24.25px;
}
.frame11 {
  width: 100%;
  height: 45.75px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 55.75px;
}
.vector {
  width: 12.76%;
  height: 13.86%;
  position: absolute;
  right: 87.24%;
  left: 0%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector2 {
  width: 14.29%;
  height: 13.86%;
  position: absolute;
  right: 75%;
  left: 10.71%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector3 {
  width: 14.8%;
  height: 13.86%;
  position: absolute;
  right: 59.69%;
  left: 25.51%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.vector4 {
  width: 17.35%;
  height: 13.86%;
  position: absolute;
  right: 41.84%;
  left: 40.82%;
  bottom: 89.89%;
  top: -3.75%;
  overflow: visible;
}
.div50 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 58.54%;
  left: 29.01%;
  width: 12.45%;
  top: 4417px;
}
.div51 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24.75px;
  font-weight: 400;
  position: absolute;
  right: 58.54%;
  left: 29.01%;
  width: 12.45%;
  top: 4215px;
}
.group-36484 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #f5ead3;
  width: 1920px;
  height: 522.27px;
  position: absolute;
  left: 0px;
  top: 2981px;
}
.second-section {
  width: 1920px;
  height: 604px;
  position: static;
}
.background {
  width: 1920px;
  height: 604px;
  position: static;
}
.rectangle-12 {
  background: #f5ead3;
  width: 1920px;
  height: 604px;
  position: absolute;
  left: 0px;
  top: 1120px;
}
.rectangle-39854 {
  background: #f5ead3;
  width: 1919px;
  height: 1257px;
  position: absolute;
  left: 0px;
  top: 1724px;
}
.rectangle-39855 {
  background: #f5ead3;
  width: 1920px;
  height: 588px;
  position: absolute;
  left: 0px;
  top: 3503px;
}
.div56 {
  position: absolute;
  inset: 0;
}
.div57 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "MaterialIcons-Regular", sans-serif;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: -0.006999999999999999em;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 4001px;
  width: 13px;
  height: 20px;
}
.div58 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 14px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 353px;
  top: 4001px;
  width: 1232px;
}
._5 {
  background: #d9efff;
  border-radius: 8px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 218px;
  height: 46px;
  position: absolute;
  left: 1367px;
  top: 3930px;
}
.div59 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 1435px;
  top: 3945px;
  width: 81px;
  height: 16px;
}
._4 {
  border-radius: 8px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 218px;
  height: 46px;
  position: absolute;
  left: 1109px;
  top: 3930px;
}
.div60 {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 1124px;
  top: 3945px;
  width: 130px;
  height: 16px;
}
._3 {
  border-radius: 8px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 218px;
  height: 46px;
  position: absolute;
  left: 851px;
  top: 3930px;
}
.e-mail {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 866px;
  top: 3945px;
  width: 55px;
  height: 16px;
}
._2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 218px;
  height: 46px;
  position: absolute;
  left: 593px;
  top: 3930px;
}
.div61 {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 608px;
  top: 3945px;
  width: 33px;
  height: 16px;
}
._1 {
  border-radius: 8px;
  border-style: solid;
  border-color: #808080;
  border-width: 1px;
  width: 218px;
  height: 46px;
  position: absolute;
  left: 335px;
  top: 3930px;
}
.div62 {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 15px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 350px;
  top: 3945px;
  width: 74px;
  height: 16px;
}
.div63 {
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 1350px;
  height: 226px;
  position: absolute;
  left: 284px;
  top: 3823px;
}
.div64 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 115%;
  letter-spacing: -0.006999999999999999em;
  font-weight: 400;
  position: absolute;
  left: 335px;
  top: 3886px;
  width: 877px;
}
.div65 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 115%;
  font-weight: 600;
  position: absolute;
  left: 333px;
  top: 3836px;
}
.div66 {
  width: 370px;
  height: 54px;
  position: static;
}
.div67 {
  background: #f6f6f6;
  border-radius: 30px;
  width: 370px;
  height: 54px;
  position: absolute;
  left: 756px;
  top: 3719px;
}
._1-6 {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  font-weight: 400;
  position: absolute;
  left: 791px;
  top: 3732px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1-6-span {
  color: var(--black, #0c0c0c);
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  font-weight: 400;
}
._1-6-span2 {
  color: var(--black, #0c0c0c);
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  font-weight: 700;
}
._1-6-span3 {
  color: #000000;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  font-weight: 400;
}
._1-6-span4 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  font-weight: 400;
}
.icons-8-forward-26-1 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1037px;
  top: 3757px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
  object-fit: cover;
}
.icons-8-forward-26-2 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1089px;
  top: 3735px;
  object-fit: cover;
}
.bmw-i-4 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-40 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 1185px;
  top: 3187px;
}
.image3 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 1209px;
  top: 3214px;
  object-fit: cover;
}
._2024-0-km {
  text-align: left;
  position: absolute;
  left: 1208.16px;
  top: 3488.73px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2024-0-km-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
}
._2024-0-km-span2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 16.506549835205078px;
  line-height: 115%;
  font-weight: 600;
}
._1200-200 {
  text-align: center;
  position: absolute;
  left: 1220.16px;
  top: 3561.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1200-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1200-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-12 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1218px;
  top: 3630px;
  object-fit: cover;
}
.rectangle-43 {
  background: #33ff00;
  border-radius: 11px;
  width: 143px;
  height: 28px;
  position: absolute;
  left: 1444px;
  top: 3623px;
}
.div68 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 1459.79px;
  top: 3628.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sea-doo-gtx-179 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-402 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 723px;
  top: 3187px;
}
.image4 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 747px;
  top: 3214px;
  object-fit: cover;
}
.viejo-2023-197-km {
  text-align: left;
  position: absolute;
  left: 746.37px;
  top: 3488.73px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.viejo-2023-197-km-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
}
.viejo-2023-197-km-span2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 16.506549835205078px;
  line-height: 115%;
  font-weight: 600;
}
._1500-200 {
  text-align: center;
  position: absolute;
  left: 757.37px;
  top: 3561.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1500-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1500-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-13 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 756px;
  top: 3630px;
  object-fit: cover;
}
.honda-civic {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-403 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 261px;
  top: 3187px;
}
.image5 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 284px;
  top: 3211px;
  object-fit: cover;
}
.div69 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 284.58px;
  top: 3486.73px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1400-200 {
  text-align: center;
  position: absolute;
  left: 297.58px;
  top: 3561.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1400-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1400-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-14 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 294px;
  top: 3630px;
  object-fit: cover;
}
.porsche-macan {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-404 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 1185px;
  top: 2638px;
}
.image6 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 1209px;
  top: 2664px;
  object-fit: cover;
}
.div70 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 1208.16px;
  top: 2937.3px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1509-200 {
  text-align: center;
  position: absolute;
  left: 1222.16px;
  top: 3012.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1509-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1509-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-15 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1218px;
  top: 3081px;
  object-fit: cover;
}
.ford-mustang {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-405 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 723px;
  top: 2638px;
}
.image7 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 746px;
  top: 2664px;
  object-fit: cover;
}
.div71 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 746.37px;
  top: 2937.3px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1100-200 {
  text-align: center;
  position: absolute;
  left: 764.58px;
  top: 3012.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1100-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1100-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-16 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 756px;
  top: 3081px;
  object-fit: cover;
}
.ram-1500 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-406 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 261px;
  top: 2638px;
}
.image8 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 283.58px;
  top: 2663.58px;
  object-fit: cover;
}
.div72 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 284.58px;
  top: 2937.3px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._900-200 {
  text-align: center;
  position: absolute;
  left: 305.58px;
  top: 3012.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._900-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._900-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-17 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 294px;
  top: 3081px;
  object-fit: cover;
}
.porsche-911 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-407 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 1185px;
  top: 2088px;
}
.image9 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 1208px;
  top: 2112px;
  object-fit: cover;
}
.tripple-creme {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 1208.16px;
  top: 2387.73px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1359-200 {
  text-align: center;
  position: absolute;
  left: 1231.16px;
  top: 2462.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1359-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1359-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-18 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1218px;
  top: 2531px;
  object-fit: cover;
}
.land-rover {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-408 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 723px;
  top: 2088px;
}
.image10 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 746px;
  top: 2112px;
  object-fit: cover;
}
.div73 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 746.37px;
  top: 2387.73px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1059-200 {
  text-align: center;
  position: absolute;
  left: 756.37px;
  top: 2462.48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1059-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1059-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-19 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 756px;
  top: 2531px;
  object-fit: cover;
}
.byd-seal {
  width: 426px;
  height: 491px;
  position: static;
}
.rectangle-409 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 491px;
  position: absolute;
  left: 261px;
  top: 2088px;
}
.image11 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 284px;
  top: 2112px;
  object-fit: cover;
}
.div74 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 284.58px;
  top: 2390.35px;
  width: 337.21px;
  height: 47.1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1200-2002 {
  text-align: center;
  position: absolute;
  left: 285.58px;
  top: 2463.24px;
  width: 175px;
  height: 27.06px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1200-2002-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1200-2002-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-110 {
  width: 22px;
  height: 22.04px;
  position: absolute;
  left: 294px;
  top: 2531.9px;
  object-fit: cover;
}
.land-rover-range-rover {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-4010 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 1185px;
  top: 1539px;
}
.image12 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 1208px;
  top: 1563px;
  object-fit: cover;
}
.div75 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 1208.16px;
  top: 1838.3px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1000-200 {
  text-align: center;
  position: absolute;
  left: 1222.16px;
  top: 1913.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1000-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1000-200-span2 {
  color: rgba(12, 12, 12, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1000-200-span3 {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-111 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1218px;
  top: 1982px;
  object-fit: cover;
}
.audi-rs-6 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-4011 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 723px;
  top: 1539px;
}
.div76 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 746.37px;
  top: 1838.3px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1600-200 {
  text-align: center;
  position: absolute;
  left: 756.37px;
  top: 1913.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1600-200-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._1600-200-span2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.icons-8-forward-26-112 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 756px;
  top: 1982px;
  object-fit: cover;
}
.toyota-sw-4 {
  width: 426px;
  height: 490px;
  position: static;
}
.rectangle-4012 {
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 426px;
  height: 490px;
  position: absolute;
  left: 261px;
  top: 1539px;
}
.rectangle-4 {
  border-radius: 15px;
  width: 379.26px;
  height: 239.34px;
  position: absolute;
  left: 284px;
  top: 1563px;
}
.syr-pepper-dzhek-v-domashnix-usloviyax-1 {
  border-radius: 15px;
  width: 379px;
  height: 239px;
  position: absolute;
  left: 284px;
  top: 1563px;
  object-fit: cover;
}
.div77 {
  color: var(--black, #0c0c0c);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18.864627838134766px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 284px;
  top: 1838px;
  width: 337.21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._900-2002 {
  text-align: center;
  position: absolute;
  left: 328px;
  top: 1913px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._900-2002-span {
  color: var(--black, #0c0c0c);
  font-family: "Poppins-Bold", sans-serif;
  font-size: 23.58078384399414px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 700;
}
._900-2002-span2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.icons-8-forward-26-113 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 294px;
  top: 1982px;
  object-fit: cover;
}
._172 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 261px;
  top: 1451px;
  width: 844px;
  height: 44px;
}
._172-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
._172-span2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
._172-span3 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.cheezu-roquefort-1 {
  border-radius: 15px;
  width: 379px;
  height: 239px;
  position: absolute;
  left: 746px;
  top: 1563px;
  object-fit: cover;
}
.rectangle-432 {
  background: #33ff00;
  border-radius: 11px;
  width: 143px;
  height: 28px;
  position: absolute;
  left: 522px;
  top: 3623px;
}
.div78 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 537.79px;
  top: 3628.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-49 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 221px;
  height: 60px;
  position: absolute;
  left: 1366px;
  top: 1451px;
}
.div79 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 1414px;
  top: 1467px;
  width: 141px;
  height: 28px;
}
.icons-8-sorting-arrows-100-1 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1377px;
  top: 1466px;
  object-fit: cover;
}
.icons-8-forward-26-3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1579px;
  top: 1473px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-39856 {
  background: #91774a;
  width: 1920px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 4091px;
}
.rectangle-44 {
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 1350px;
  height: 229px;
  position: absolute;
  left: 261px;
  top: 1185px;
}
.rectangle-45 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 208px;
  height: 60px;
  position: absolute;
  left: 285px;
  top: 1328px;
}
.rectangle-50 {
  border-radius: 0px;
  width: 442px;
  height: 60px;
  position: absolute;
  left: 1145px;
  top: 1197px;
  overflow: visible;
}
.rectangle-48 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 200px;
  height: 60px;
  position: absolute;
  left: 1145px;
  top: 1328px;
}
.rectangle-492 {
  background: #d9efff;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 221px;
  height: 60px;
  position: absolute;
  left: 1366px;
  top: 1328px;
}
.div80 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 26px;
  line-height: 115%;
  font-weight: 600;
  position: absolute;
  left: 285px;
  top: 1279px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div81 {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 305px;
  top: 1344px;
  width: 83px;
  height: 28px;
}
.div82 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 1188px;
  top: 1344px;
  width: 113px;
  height: 28px;
}
.div83 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 1439px;
  top: 1344px;
  width: 75px;
  height: 28px;
}
.icons-8-forward-26-114 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 479px;
  top: 1350px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-52 {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 208px;
  height: 60px;
  position: absolute;
  left: 538px;
  top: 1328px;
}
.div84 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 26px;
  line-height: 115%;
  font-weight: 600;
  position: absolute;
  left: 538px;
  top: 1279px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div85 {
  color: #808080;
  text-align: left;
  font-family: "Poppins-Light", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
  position: absolute;
  left: 558px;
  top: 1344px;
  width: 83px;
  height: 28px;
}
.icons-8-forward-26-22 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 732px;
  top: 1350px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  object-fit: cover;
}
.div86 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 115%;
  font-weight: 600;
  position: absolute;
  left: 811px;
  top: 1208px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div87 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px 0 0 0;
  width: 1348px;
  height: 0px;
  position: absolute;
  left: 262px;
  top: 1264px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.icon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1514px;
  top: 1251px;
  transform: translate(0px, -48px);
  overflow: visible;
}
.rectangle-39857 {
  background: #33ff00;
  border-radius: 11px;
  width: 143px;
  height: 28px;
  position: absolute;
  left: 983px;
  top: 2527px;
}
.div88 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 998.79px;
  top: 2532.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-39858 {
  background: #33ff00;
  border-radius: 11px;
  width: 143px;
  height: 28px;
  position: absolute;
  left: 520px;
  top: 2527px;
}
.div89 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14.148470878601074px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 535.79px;
  top: 2532.9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div52 {
  color: #91774a;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 548px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div52 li {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}

.div52 a {
  color: #000000; 
  text-decoration: none; 
}

.div52 a:hover {
  color: #6f7429; 
}
.div53 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 742px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div53 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div53 a {
  color: #91774a;
  text-decoration: none;
}

.div53 a:hover {
  color: #6f7429;
}
.div54 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 936px;
  top: 57px;
  width: 177px;
  height: 39px;
}

.div54 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div54 a {
  color: #000000;
  text-decoration: none;
}

.div54 a:hover {
  color: #6f7429;
}
.div55 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 1130px;
  top: 57px;
  width: 241px;
  height: 39px;
}

.div55 li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.div55 a {
  color: #000000;
  text-decoration: none;
}

.div55 a:hover {
  color: #6f7429;
}